/* MAIN CONTAINER */
.form_mainCntr {
    display: flex;
    justify-content: space-around;
  }
  
  /* FORM */
  .form_mainCntr form {
    margin: 20px;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 10px;
  }
  
  /* FIELD SET */
  .form_mainCntr form fieldset {
    margin: 20px;
    border: 3px solid rgb(172, 226, 175);
  }
  
  /* INPUT FIELDS MAIN CONTAINER */
  .form_mainCntr .inputFields {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    gap: 15px;
  }
  
  /* INPUT FIELD LABEL */
  .form_mainCntr .inputFields > label {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    width: 80%;
  }
  
  /* PROFILE PICTURE */
  .form_mainCntr .applicant_img_cntr {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    width: 80%;
  }
  
  .form_mainCntr .applicant_img_cntr > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form_mainCntr .applicant_img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    grid-column-start: 2;
  }
  
  /* MOBILE NUMBER INPUT FIELD */
  .form_mainCntr .mobileNum > div {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  
  .form_mainCntr .mobileNum > div > input:nth-of-type(1) {
    width: 24px;
  }
  
  .form_mainCntr .mobileNum > div > input:nth-of-type(2) {
    width: 100%;
  }
  
  /* JOB TYPE INPUT FIELD */
  .form_mainCntr .JobType {
    width: 80%;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
  }
  
  .form_mainCntr .JobType > div > input:not(:nth-of-type(1)) {
    margin-left: 15px;
  }
  
  /* PREFERRED LOCATION MAIN CONTAINER */
  .form_mainCntr .pref_location {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 80%;
    align-items: baseline;
  }
  
  /* PREFERRED LOCATION MAIN CONTAINER EACH CHECKBOX */
  .form_mainCntr .pref_location > div {
    display: flex;
    flex-direction: column;
  }
  
  /* SUBMIT BUTTON */
  .form_mainCntr .submit_btn {
    float: right;
    margin-right: 40px;
    margin-bottom: 10px;
    background-color: rgb(172, 226, 175);
    color: #585454;
  }
  
  .form_mainCntr .submit_btn:hover {
    background-color: rgb(5 203 16);
  }
  
  /* FORM FIELDS ERRORS */
  .form_mainCntr .errors {
    border: 2px solid red;
  }
  
  .form_mainCntr .errorsSpl {
    color: red;
  }
  
  .form_mainCntr .mobileView {
    display: none;
  }
  
  @media (max-width: 1200px) {
    /* INPUT FIELDS MAIN CONTAINER */
    .form_mainCntr .inputFields {
      grid-template-columns: none;
    }
  
    /* DESKTOP VIEW */
    .form_mainCntr .desktopView {
      display: none;
    }
  
    /* PROFILE PICTURE */
    .form_mainCntr .applicant_img_cntr_MV {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      gap: 10px;
    }
  
    .form_mainCntr .applicant_img {
      width: 150px;
      height: 150px;
      grid-column-start: initial;
    }
  
    /* SUBMIT BUTTON */
    .form_mainCntr .submit_btn {
      float: initial;
      margin-right: initial;
      margin-top: 30px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
  
  @media (max-width: 580px) {
    /* FORM */
    .form_mainCntr form {
      width: 90%;
    }
  
    /* INPUT FIELD LABEL */
    .form_mainCntr .inputFields > label {
      grid-template-columns: initial;
      gap: 10px;
    }
  
    /* JOB TYPE INPUT FIELD */
    .form_mainCntr .JobType {
      grid-template-columns: initial;
      gap: 10px;
    }
  
    /* PREFERRED LOCATION MAIN CONTAINER */
    .form_mainCntr .pref_location {
      grid-template-columns: 43% 57%;
      justify-items: center;
    }
  }